.normalBlock .processPanel {
    height: 43px;
}
.normalBlock .processPanel a{
    position:relative;
    display:block;
    width: 25%;
    float:left;
    overflow: hidden;
    height: 43px;
    line-height: 43px;
    color: #000;
    font-size: 16px;
}
.normalBlock .processPanel a .head{
    position:absolute;
    left:0;
    top:0;
    height:43px;
    width: 21px;
}
.normalBlock .processPanel a .textBlock{
    margin: 0 21px;
    text-align: center;
    height:42px;
    border-bottom: 1px solid #000;
}
.normalBlock .processPanel a .textBlock u{
    text-decoration: none;
}
.normalBlock .processPanel a .tail{
    position:absolute;
    right:0;
    top:0;
    height:43px;
    width: 21px;
}

.normalBlock .processPanel .current .textBlock{
    height:43px;
    border-bottom: none;
    background-color: #df4141;
}
.normalBlock .processPanel .current{
    color: #fff;
}
.normalBlock .processPanel .current .head{
    background: url(../../../img/customer/icons.png) no-repeat -116px -73px;
}
.normalBlock .processPanel .current .tail{
    background: url(../../../img/customer/icons.png) no-repeat -137px -73px;
}

.normalBlock .subTitleBar{
    font-size:14px;
    margin-top:35px;
    font-weight: bold;
    padding-bottom:6px;
    border-bottom: 1px solid #ddd;
}
.normalBlock .addressList li{
    line-height: 30px;
}
.normalBlock .addressList li input{
    margin-right: 10px;
    vertical-align: -1px;
}
.normalBlock .appendAddressBlock {
    margin-top: 10px;
    display: none;
}
.normalBlock .appendAddressBlock li{
    line-height: 30px;
    margin-bottom: 10px;
}
.normalBlock .appendAddressBlock li .label{
    width: 70px;
    float: left;
    text-align: right;
}
.normalBlock .appendAddressBlock li .contentBlock{
    margin-left: 80px;
}
.normalBlock .appendAddressBlock li .contentBlock .inputBorder{
    border: 1px solid #ddd;
    padding: 0 4px;
    height: 30px;
}
.normalBlock .appendAddressBlock li .contentBlock .inputBorder.warn{
    border-color: #f00;
}
.normalBlock .appendAddressBlock li .contentBlock .inputBorder input{
    border: none;
    width: 100%;
}

.normalBlock .appendAddressBlock .addressRow .contentBlock .col{
    width: 33.3%;
    float: left;
}
.normalBlock .appendAddressBlock .addressRow .contentBlock .col:first-child .inputBorder{
    margin-left: 0;
}
.normalBlock .appendAddressBlock .addressRow .contentBlock .col .inputBorder{
    margin-left: 10px;
    padding: 0;
}
.normalBlock .appendAddressBlock .addressRow .contentBlock .col .inputBorder select{
    width: 100%;
    height: 30px;
    border: none;
}
.normalBlock .appendAddressBlock .addressRow .contentBlock .col .inputBorder select option{
    padding: 0 10px;
}

.normalBlock  .timeRow .col{
    display: inline-block;
    margin-right: 40px;
}
.normalBlock  .timeRow span{
    line-height: 30px;
    font-size: 14px;
}
.normalBlock  .timeRow input{
    margin-right: 10px;
    vertical-align: -1px;
}
.normalBlock  .paymentRow li{
    line-height: 30px;
}
.normalBlock  .paymentRow li input{
    margin-right: 10px;
}
.normalBlock  .paymentRow li{
    font-size: 14px;
}
.normalBlock  .paymentRow li b{
    color: #aaa;
    font-size: 12px;
    font-weight: normal;
}
.normalBlock  table{
    width: 100%;
    border: 1px solid #ddd;
    border-collapse:collapse;
    border-top: none;
}
.normalBlock  table thead tr{
    height: 38px;
    line-height: 38px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}
.normalBlock  table thead tr th{
    font-size: 12px;
    font-weight: normal;
}
.normalBlock  table tbody td{
    text-align: center;
    padding: 15px 2px 10px 2px;
    line-height: 26px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}
.normalBlock  table tbody td img{
    float:left;
    position: relative;
}
.normalBlock  table tbody .productImage{
    display: inline-block;
}
.normalBlock  table tbody .descriptBlock{
    margin-left: 90px;
    text-align: left;
    min-height: 100px;
    vertical-align: top;
}
.normalBlock  table tbody .descriptBlock h3{
    font-size: 14px;
    margin-top: 10px;
}
.normalBlock  table tbody .descriptBlock div{
    color: #666;
    font-size: 12px;
    line-height: 20px;
    color: #666;
}

.normalBlock  .mobileBlock{
    display: none;
}
.normalBlock  .mobileBlock li{
    position: relative;
    border-bottom: 1px solid #ddd;
}
.normalBlock  .mobileBlock li .imgCol{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    padding: 10px 0;
    text-align: center;
}
.normalBlock  .mobileBlock li .imgCol .toWish{
    font-size: 10px;
    border: 1px solid #333;
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    padding: 0 4px;
}
.normalBlock  .mobileBlock li .imgCol .toWish:hover{
    background-color: #333;
    color: #fff;
}
.normalBlock  .mobileBlock li .paramCol{
    margin-left: 130px;
    min-height: 130px;
    padding-bottom: 10px;
}
.normalBlock  .mobileBlock li .paramCol h3{
    font-size: 14px;
    padding-top:10px;
}
.normalBlock  .mobileBlock li .paramCol .quantitySelector{
    margin:10px 0;
}

.normalBlock  .mobileBlock li .operationCol{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 140px;
    line-height:140px;
    text-align: center;
}

.normalBlock  .amountRow{
    border: 1px solid #ddd;
    border-top:none;
    background-color: #f4f4f4;
    text-align: right;
    line-height: 65px;
    height: 65px;
}
.normalBlock  .amountRow b{
    font-weight: normal;
    color: #df4141;
}

.normalBlock  .amountRow .row2{
    font-size: 16px;
    padding-right: 10px;
}
.normalBlock .actionRow{
    text-align: right;
    margin-top: 20px;
}

.normalBlock  .actionRow .settlement{
    background-color: #df4141;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    width:135px;
    border: none;
    cursor: pointer;
}

.bottomSpace{
    height: 40px;
}

@media \0screen {
    .normalBlock .appendAddressBlock .addressRow .contentBlock .col .inputBorder select{
        height: 20px;
    }
}
@media only screen and (max-width: 784px) {
    .normalBlock .titlePanel,
    .normalBlock .processPanel u,
    .normalBlock table{
        display: none;
    }
    .normalBlock .mobileBlock{
        display: block;
    }
    .normalBlock .subTitleBar{
        margin-top: 20px;
        padding: 0 10px;
    }
    .normalBlock .addressList li{
        padding: 0 10px;
    }
    .normalBlock .appendAddressBlock li .label {
        float: none;
        text-align: left;
        padding: 0 10px;
    }
    .normalBlock .appendAddressBlock li .contentBlock{
        margin: 0;
        padding: 0 10px;
    }
    .normalBlock .appendAddressBlock .addressRow .contentBlock .col{
        width: auto;
        float: none;
        margin-bottom: 10px;
    }
    .normalBlock .appendAddressBlock .addressRow .contentBlock .col .inputBorder {
        margin-left: 0;
    }
    .normalBlock .timeRow .col{
        display: block;
        margin-right: 0;
        padding: 0 10px;
    }

    .normalBlock .paymentRow li {
        padding: 0 10px;
    }
    .normalBlock .actionRow {
        padding: 0 10px;
    }
    .normalBlock  .actionRow .settlement{
        display: block;
        width: 100%;
    }


}
